@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color 0.6s ease, color 1s ease;
  transition: background-color 0.6s ease, color 1s ease;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
}

blockquote,
dl,
ol,
p,
table,
ul {
  font-size: 1.05rem;
  list-style: none;
}

ul {
  padding: 0 1rem;
}

@media screen and (min-width: 768px) {
  blockquote,
  dl,
  ol,
  p,
  table,
  ul {
    font-size: inherit;
  }
}

ul li p {
  margin: 0 0 0.2rem;
}

ul li {
  padding-bottom: 0.3rem;
}

ul li ul {
  padding-left: 1rem;
  margin: 0;
}

ul li ul li {
  margin: 0;
}

ol li ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

a {
  display: inline-block;
  color: #1a1b1f;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: none;
}

img,
video {
  vertical-align: middle;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  max-width: 100%;
}

/* wrapper classes */
.wrapper-fluid {
  max-width: 100%;
  padding: 0 1rem;
  margin-right: auto;
  margin-left: auto;
}

.wrapper,
.small-wrapper,
.medium-wrapper {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.small-wrapper {
  max-width: 915px;
}

.medium-wrapper {
  max-width: 1000px;
}

/* LAYOUT */
.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.row .row-align-center {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  position: relative;
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  min-height: 1px;
  padding-right: 0.78125rem;
  padding-left: 0.78125rem;
}

.space-right {
  padding-right: 0;
}

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.display-mobile {
  display: block;
  visibility: visible;
  opacity: 1;
}

.display-desktop {
  display: none;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 478px) {
  .column {
    padding-right: 0;
    padding-left: 0;
  }
}

@media screen and (min-width: 767px) {
  .display-desktop {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  .display-mobile {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .space-right {
    padding-right: 5rem !important;
  }
  .column.split-5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .column.split-7 {
    -ms-flex: 0 0 58.3333%;
    -webkit-box-flex: 0;
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
  }
  .column.split-4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .column.split-8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667;
  }
  .column.two {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .column.three {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .column.four {
    -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .column.five {
    -ms-flex: 0 0 16.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}

.navigation {
  background: #fff;
}

.navigation.fixed-top {
  position: fixed;
  z-index: 1030;
  right: 0;
  left: 0;
}

.navigation.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08) !important;
}

.navigation .navbar {
  position: relative;
}

.navigation .navbar-nav li {
  position: relative;
}

.navigation .navbar-nav li a {
  color: #3CBF77;
  font-weight: 600;
}

.navigation .navbar-nav li a.nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navigation .navbar-nav li a:hover {
  color: #3CBF77;
}

.navigation .navbar-brand img {
  width: 100%;
  max-width: 35px;
}

.navigation .navbar-toggler {
  background: #3CBF77;
  border-radius: 0px;
  padding: 10px 15px;
}

.banner {
  min-height: 1px;
  padding-top: 64px;
}

.banner__inner {
  height: calc(100vh - 64px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/cover.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/cover.jpg");
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  min-height: 570px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__inner h1 {
  display: inline-block;
  font-size: 2.6rem;
  max-width: 1000px;
  line-height: 1.2;
  margin-bottom: 2rem;
  color: #3CBF77;
}

.banner__inner p {
  color: #fff;
  font-size: 1.4rem;
  max-width: 1000px;
  line-height: 1.5;
}

.footer p a {
  color: #fff;
}

.course {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.course__card {
  width: 100%;
  padding: 2rem;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin-top: 2rem;
  background-size: cover !important;
  background-position: center !important;
}

.course__card.card-one {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/cover-two.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/cover-two.jpg");
}

.course__card.card-two {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../images/cover-one.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/cover-one.jpg");
}

.course__card__lead {
  font-size: 1rem;
  line-height: 1.5;
  color: #3CBF77;
  font-weight: 600;
}

.course__card__title {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1rem;
}

.course__card__text {
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  font-weight: 600;
}

.course__card__btn {
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 20px;
  font-size: 0.875rem;
  min-width: 70px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 2px;
  text-transform: uppercase;
}

.course__card__btn.btn-primary {
  color: #ffffff;
  border: 2px solid #3CBF77;
  background-color: #3CBF77;
}

.course__card__btn.btn-primary:hover {
  background-color: #30985f;
}

.course__card__btn.btn-outline {
  color: #fff;
  border: 2px solid #fff;
}

.course__card__btn.btn-outline:hover {
  background-color: #61cd92;
}

.course__title h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #3CBF77;
  margin-bottom: 0.35em;
}

.course__title p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.btn-main-2 {
  background: #3CBF77;
  color: #fff;
  border-color: #3CBF77;
}

.btn-main-2:hover {
  background-color: #30985f;
  color: #fff;
}

.btn {
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 35px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.testimonial2 .author {
  text-align: center;
}

.testimonial2 .author h4 {
  font-size: 18px;
}

.testimonial2 .author p {
  font-size: 14px;
}

.testimonial2 .author img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.about {
  position: relative;
}

.about.section {
  padding: 7.5rem 0;
}

.testimonial-slider .owl-dots {
  margin-bottom: 30px;
}

.testimonial-slider .owl-dots .owl-dot {
  outline: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px;
}

.testimonial-slider .owl-dots .owl-dot.active {
  background-color: #999595;
}

.testimonial-slider .owl-dots .owl-dot.active span {
  background: #3CBF77;
}

.go-top {
  position: fixed;
  content: "";
  right: 30px;
  bottom: 50px;
  z-index: 999;
  background: #3CBF77;
  color: #fff !important;
  border-radius: 100%;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.go-top.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.go-top i {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  text-align: center;
  font-size: 22px;
  line-height: 60px;
  display: block;
  -webkit-box-shadow: 0 7px 22px rgba(0, 0, 0, 0.8);
          box-shadow: 0 7px 22px rgba(0, 0, 0, 0.8);
}

.detail {
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100vh;
  padding-top: 5rem;
  z-index: 99;
}

.detail__inner {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.detail .flex {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
}

.detail .detail-image {
  width: 100%;
  max-width: 50%;
}

.detail .detail-body {
  height: 80vh;
  overflow-y: auto;
  width: 500px;
}

.detail .detail-body strong {
  font-weight: bolder;
}

.detail .detail-body::-webkit-scrollbar {
  width: 5px;
  display: none;
}

.detail .detail-body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ddd;
  opacity: 0;
  visibility: visible;
}

.detail .detail-body .countdown ul li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  background-color: #ff0f50;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 2rem;
  height: 5rem;
  width: 5rem;
}

.detail .detail-body .countdown ul li:not(:last-child) {
  margin-right: 2rem;
}

.detail .detail-body .countdown ul li span {
  display: block;
  font-size: 2rem;
  font-weight: 800;
  padding-bottom: 1rem;
  color: #fff;
}

.detail .detail-body .countdown ul li small {
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 30px;
}

.detail .detail-body .profile img {
  height: 100%;
  width: 100%;
}

.detail .detail-body .profile__detail {
  margin-top: 1rem;
}

.detail .detail-body .profile__detail h4 {
  font-size: 2rem;
}

.detail .detail-body ol {
  list-style-type: none;
  padding-left: 2rem;
}

.detail .detail-body ol li {
  font-size: 1.3rem;
  line-height: 1.7;
}

.detail .detail-body ol li span {
  padding-right: 1rem;
  color: #3CBF77;
  font-size: 1rem;
}

.detail .detail-body h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}

.detail .detail-body h3.urgent {
  text-decoration: underline;
}

.detail .detail-body h2 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.detail .detail-body h2.bold {
  max-width: 25rem;
  font-weight: 800;
}

.detail .detail-body p {
  font-size: 1.2rem;
  line-height: 1.75;
  margin-bottom: 1rem;
  color: rgba(10, 9, 9, 0.722);
  text-align: left;
  font-weight: 400;
}

.detail .detail-body hr {
  border-top: 2px solid black;
}

@media screen and (max-width: 500px) {
  .banner__inner {
    padding: 60px 0px 90px;
  }
  .banner__inner h1 {
    font-size: 40px;
  }
  .banner__inner p {
    padding-right: 0px;
  }
}

@media screen and (max-width: 800px) {
  .detail__inner {
    overflow: auto;
  }
  .detail .detail-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: none;
  }
  .detail .detail-body {
    height: 100%;
    overflow-y: auto;
    width: 100%;
  }
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 30px;
  font-weight: 400;
}

html ::-moz-selection,
body ::-moz-selection {
  background-color: #3CBF77;
  color: #fff;
}

html ::selection,
body ::selection {
  background-color: #3CBF77;
  color: #fff;
}

@media (max-width: 991px) {
  html,
  body {
    font-size: 1rem;
    line-height: 1.40625rem;
  }
  html p,
  body p {
    font-size: 0.9375rem;
  }
}

html a:hover,
body a:hover {
  text-decoration: none;
}

.theme {
  height: 100vh;
  width: 100%;
}

.theme-dark .base {
  color: #858b93;
  background-color: #1b1d25;
}

.theme-light .base {
  color: #1b1d25;
  background-color: #fff;
}

.base:after {
  content: "";
  position: fixed;
  width: 100%;
  overflow-y: auto;
  min-height: 100vh;
}

.theme-dark .base:after {
  background-color: #1b1d25;
}

.theme-light .base:after {
  background-color: #fff;
}

.svg-inline {
  display: inline-block;
  font-size: 1.125rem;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}

.svg-inline.show {
  color: #ffd475;
  fill: #ffd475;
}

.show {
  display: block;
  visibility: visible;
  opacity: 1;
}

.hide {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.theme-dark .slick-dots li button:before {
  color: #858b93;
}

.theme-light .slick-dots li button:before {
  color: #1b1d25;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
}

.theme-dark .slick-dots li.slick-active button:before {
  color: #858b93;
}

.theme-light .slick-dots li.slick-active button:before {
  color: #1b1d25;
}

.site-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  font-weight: 500;
  text-align: center;
  border: none;
  outline: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.site-button:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

a.site-btn-primary,
.site-btn-primary {
  border-radius: 0.3rem;
  padding: 0.7rem 1.8rem;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  line-height: 1.5em;
  background-color: #3CBF77;
  opacity: 1;
}

.btn-block {
  display: block;
  width: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dark-bg-1 {
  background: #0A121E !important;
}

.dark-bg-1 h2,
.dark-bg-1 h5,
.dark-bg-1 h4,
.dark-bg-1 span,
.dark-bg-1 p {
  color: #fff;
  opacity: .9;
}

.dark-bg-2 {
  background: #17212E !important;
}

.dark-bg-2 h2,
.dark-bg-2 h5,
.dark-bg-2 h4,
.dark-bg-2 span,
.dark-bg-2 p {
  color: #fff;
}

.dark-bg-2 .follow a {
  color: #fff;
}

.text-sm {
  font-size: 14px;
}

.primary-color {
  color: #3CBF77;
}

strong {
  font-weight: bold;
}

.text-red {
  color: #ff0f50;
}

.text-green {
  color: #3CBF77;
}

.text-blue {
  color: #4486f4;
}

.text-lg {
  font-size: 40px;
  line-height: 1.4;
}

.py-7 {
  padding: 7.5rem 0;
}

.lead {
  line-height: 40px;
}

#scrollUp {
  bottom: 50px;
  height: 40px;
  line-height: 42px;
  right: 50px;
  width: 40px;
}

#scrollUp {
  background-color: #3cbf77;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  line-height: 42px;
  text-align: center;
  border-radius: 0%;
  bottom: 30px;
  right: 30px;
  line-height: 32px;
  width: 30px;
  height: 30px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
}

#scrollUp:hover,
#scrollUp:focus {
  background-color: rgba(60, 191, 119, 0.4);
  color: #3CBF77;
}

.content-wrapper {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-content {
  padding: 60px 0 0;
  min-height: calc(100vh - 56px);
}

@media (min-width: 478px) {
  .content-wrapper {
    max-width: 992px;
  }
}

@media (min-width: 767px) {
  .content-wrapper {
    max-width: 992px;
  }
  .main-content {
    padding: 40px 0 0;
    min-height: calc(100vh - 55px);
  }
}

@media (min-width: 991px) {
  .content-wrapper {
    max-width: 992px;
  }
}

@media (min-width: 1199px) {
  .content-wrapper {
    max-width: 1140px;
  }
}
/*# sourceMappingURL=main.css.map */